<a href="https://colab.research.google.com/github/saumanraaj/Mycaptain_SaumanRaaj/blob/main/databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#to install this library to store data in a database use command pip install db-sqlite3
import sqlite3
def connect(dbname):
  conn=sqlite3.connect(dbname) #connecting and creating a database file named oyo returns connection object(to do operations with sql u have to do it with the help of this connection object)
  conn.execute("CREATE TABLE IF NOT EXISTS OYO_HOTELS (NAME TEXT,ADDRESS TEXT,PRICE INT,AMNITIES TEXT,RATING TEXT)") #this sql query creates a table in the database if it doesn't exist to store values
  print("table created succesfully")
  conn.close()#closing the connection to the database

#this connection objects are important as they can be used to excecute sql queries
#sql is a language to communicate with databases
# this table has header as mentioned in () in the next line
def insert_into_table(dbname,values):
  conn=sqlite3.connect(dbname)
  insert_sql="INSERT INTO OYO_HOTELS (NAME,ADDRESS,PRICE,AMNITIES,RATING)VALUES(?,?,?,?,?)" #entering values into table
  conn.execute(insert_sql,values)
  conn.commit()
  conn.close()
#here the ? specifies the value to be got from the webscrapping program during run time

def get_hotel_info(dbname):
  cur = conn.cursor() #creating a cursor object  for using selection sql queries
  #this cursor object is used to retieve data from the table
  cur.execute("SELECT*FROM OYO_HOTELS")
  table_data=cur.fetchall()# reteriving data
  for record in table_data:
    print(record) #printing the data
  conn.close()

# IN THESE SQL DATABASES WE HAVE 3 STEPS
#creation of connection object and creation of database table using this connection object
#inserting values into the table
#retrieving values from table using cursor object